<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <connectionStrings>
        <add name="系所月曆ConnectionString" connectionString="Data Source=MAC-PC;Initial Catalog=系所月曆;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
